@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

$home_nav_color: #C3B59B;
$dark: #000000;
$hovercolor: #B70000;
$btncolor: #726658;

*, body {
    font-family: 'Mukta', sans-serif;
}
a {
    &:hover {
        color: $hovercolor;
    }
}

.top_nav_bar {
    width: 85%;
    margin: 0 auto;
    height: 91px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo_container {
        height: 100%;
        img {
            height: 100%;
        }
    }
    @media (max-width: 991px) {
        .logo_container {
            display: none;
        }
    }
    .top_search {
        display: flex;
        position: relative;
        width: 600px;
        .form-group {
            width: 100%;
        }
        .form-control {
            min-width: 100%;
            border-radius: 0;
            border-color: transparent transparent #4E4E4E transparent;
            font-size: 15px;
            line-height: 21px;
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
        button {
            position: absolute;
            right: 0;
            border: none;
            background-color: transparent;
        }
    }
}
.main_nav {
    // background-color: $home_nav_color;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 2px 4px 2px rgba(146, 146, 146, 0.15);
    .navbar {
        padding-left: 0; 
        padding-right: 0;
        @media (min-width: 992px) {
            .navbar-brand {
                display: none;
            }
        }
        .navbar-toggler-icon {
            padding-top: 8px;
            color: $home_nav_color;
        }
        .navbar-nav {
            .nav-item {
                padding: 0 .5em;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child {
                    padding-right: 0;
                }
                .nav-link {
                    color: $dark;
                }
            }
        }
        @media (max-width: 768px) {
            .navbar-nav {
                align-items: center;
                margin-top: 20px;   
                .nav-item {
                    a {
                        color: #726658!important;
                    }
                    &.active {
                        background-color: #ddd;
                        width: 100%;
                        text-align: center;
                        a {
                            color: #333!important;
                        }
                    }
                    &:hover {
                        background-color: #ddd;
                        width: 100%;
                        text-align: center;
                        a {
                            
                        }
                    }
                }
            }
        }
    }
}
.main_story_box {
    margin-top: 40px;
    .story_card {
        background-color: #ddd;
        position: relative;
        width: 260px;
        height: 350px;
        border-radius: 9px;
        overflow: hidden;
        a {
            color: #fff;
            
            .main_title {
                font-weight: block;
                font-size: 15px;
                line-height: 28px;
                text-align: justify;
                letter-spacing: 0.05em;
            }
        }
        .image_contianer {
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .story_content {
            padding: 15px;
            bottom: 15px;
            position: absolute;
        }
    }
}
.news_contain_box {
    padding-top: 40px;
    .new_contain_head {
        margin-bottom: 30px;
        display: flex;
        align-items: flex-end;
        position: relative;
        .main_title {
            margin-bottom: 0;
                font-style: normal;
                font-weight: bold;
                font-size: 35px;
                line-height: 40px;
                letter-spacing: 0.02em;
                color: #726658;
                margin: 0 auto;
            &::after {
                display: block;
                content: '';
                width: 45px;
                height: 3px;
                background-color: #333;
                margin: 0 auto;
            }
        }
        a {
            position: absolute;
            color: #726658; 
            font-size: 14px;
            right: 0;
        }
    }
}
.main_news {
    padding-right: 10px;
    .image_container {
        a {
            img {
                width: 100%;
            }
        }
    }
    .news_contain {
        .news_links {
            &:hover {
                text-decoration: none;
                h2 {
                    color: #B70000;
                }
            }
        }
        .news_title {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.02em;
            color: #000000;
            margin-bottom: 10px;
            &:hover {
                text-decoration: none;
            }
        }
        .news_short_details {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            text-align: justify;
            letter-spacing: 0.02em;
            color: rgba(0, 0, 0, 0.7);
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.news_lists {
    padding-left: 10px;
    ul {
        padding-left: 0;
        li {
            &.side_news_box {
                height: 162px;
                overflow: hidden;
                display: flex;
                background-color: #F8F8F8;
                margin-bottom: 19px;
            }
            .news_content {
                padding: 0px 5px 15px 15px;
                flex: 1;
                h4 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 25px;
                    text-align: justify;
                    letter-spacing: 0.05em;
                    text-transform: capitalize;
                    color: #000000;
                }
                a {
                    &:hover {
                        text-decoration: none;
                        h4 {
                            color: #B70000;
                        }
                    }
                }
            }
            .image_container {
                padding-left: 15px;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 200px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .main_news {
       padding-right: 15px;
    }
    .news_lists {
        padding-left: 15px;
    }
}
.news_meta {
    margin-top: 15px;
    display: flex;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 10px;
    li {
        border-right: 1px solid #aaa;
        padding-right: 10px;
        padding-left: 10px;
        line-height: 16px;
        &.category {
            a {
                color: #B70000;
            }
        }
        &:nth-child(1) {
            padding-left: 0;
        }
        &:last-child {
            border-right: 1px solid transparent;
        }
    }
}
.news_full_width_box {
    padding-left: 0;
    list-style: none;
    .news_full_width_item {
        background: #F8F8F8;
        margin-bottom: 19px;
        height: 203px;
        overflow: hidden;
        a {
            text-decoration: none;
            img {
                width: 100%;
            }
        }.news_content_rev {
            padding-left: 35px;
        }
        .news_main_content {
            &:hover {
                h4 {
                    color: #B70000;
                }
            }
            h4 {
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 30px;
                text-align: justify;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                color: #000000;
                padding-right: 1em;
            }
            p {
                font-style: normal;
                font-weight: 300;
                font-size: 15px;
                line-height: 25px;
                /* or 167% */
                text-align: justify;
                letter-spacing: 0.02em;
                color: rgba(0, 0, 0, 0.7);
                padding-right: 1em;
            }
        }
    }
}
.news_lists_next {
    ul {
        padding-left: 0;
        li {
            &.side_news_box {
                height: 162px;
                overflow: hidden;
                display: flex;
                background-color: #F8F8F8;
                margin-bottom: 30px;
            }
            .news_content {
                padding: 5px 15px 15px 0px;
                flex: 1;
                h4 {
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 25px;
                    text-align: justify;
                    letter-spacing: 0.05em;
                    text-transform: capitalize;
                    color: #000000;
                }
                a {
                    &:hover {
                        text-decoration: none;
                        h4 {
                            color: #B70000;
                        }
                    }
                }
            }
            .image_container {
                padding-right: 15px;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 200px;
                }
            }
        }
    }
}
.video_section {
    .video_item {
        .video_container {
            h4 {
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 25px;
                text-align: justify;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                a {
                    color: #000000;
                    &:hover {
                        text-decoration: none;
                        color: $hovercolor;
                    }
                }
            }
        }
    }
}
.photo_slider_section {
    .slider_container {
        .slick-slider {
            position: relative;
            z-index: 0;
            padding: 0; 
            li {
                &.slick-slider-item {
                    background: #19dac8;
                    color: #fff;
                    position: relative;
                    img {
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        width: 100%; 
                        min-height:200px;
                    }
                    .imagecontainer {
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                        width: 100%; 
                        height: 500px;
                        background-position: center!important;
                        background-repeat: no-repeat!important;
                        background-size: cover!important;
                    }
                    .photo_title {
                        text-align: center;
                        margin: 0 auto;
                        display: block;
                        width: 100%;
                        position: absolute;
                        bottom: 20px;
                        p {
                            font-style: normal;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 27px;
                            letter-spacing: 0.05em;
                            color: #FFFFFF;
                        }
                    }
                }
            }
            .slick-dots {
                margin-top: 20px;
                text-align: center; 
                li {
                    display: inline-block; 
                    &.slick-active button {
                        background: $btncolor;
                        width: 50px;
                        border-radius: 10px; 
                    }
                    button {
                        transition: all .5s;
                        font-size: 0;
                        height: 12px;
                        width: 10px;
                        border-radius: 50%;
                        background: #C4C4C4;
                        border: 0;
                        margin: 3px;
                        cursor: pointer; 
                    }
                }
            }
        } 
    }
}
.new_half_box {
    padding-top: 40px;
    .shahitya_box {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 30px;
        .heading_title {
            h2 {
                margin-bottom: 0;
                font-style: normal;
                font-weight: bold;
                font-size: 35px;
                line-height: 40px;
                letter-spacing: 0.02em;
                color: #726658;
                &::after {
                    display: block;
                    content: '';
                    width: 45px;
                    height: 3px;
                    background-color: #333;
                }
            }
        }
        a {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 23px;
            letter-spacing: 0.02em;
            color: #726658;
        }
    }
}
.shahitya_news {
    list-style: none;
    padding-left: 0;
    .news_item {
        background: #F8F8F8;
        display: flex;
        margin-bottom: 15px;
        .image_container {
            width: 40%;
            img {
                width: 100%;
            }
        }
        .news_content {
            padding: 15px ;
            flex: 1;
            h4 {
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 25px;
                text-align: justify;
                letter-spacing: 0.05em;
                text-transform: capitalize;
                a {
                    color: #000000;
                    &:hover {
                        text-decoration: none;
                        color: $hovercolor;
                    }
                }
            }
        }
    }
}
.special_story {
    
}
.image_box_with_overlay {
    list-style: none;
    padding-left: 0;
    width: 100%;
    .news_box {
        position: relative;
        width: 100%;
        margin-bottom: 15px;
        .image_container {
            width: 100%;
            height: 230px;
            background-position: center!important;
            background-size: cover!important;
            background-repeat: no-repeat!important;
        }
        .overlay_title {
            bottom: 15px;
            position: absolute;
            padding: 0 15px;
            font-weight: bold;
            font-size: 16px;
            line-height: 27px;
            text-align: justify;
            letter-spacing: 0.05em;
            a {
                color: #FFFFFF;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
.new_plika_list {
    padding-left: 0;
    list-style: none;
    .plika_news_box {
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: 0.75px solid rgba(84, 84, 84, 0.5);
        .plika_title {
            font-weight: bold;
            font-size: 15px;
            line-height: 25px;
            text-align: justify;
            letter-spacing: 0.05em;
            a {
                color: #000000;
                &:hover {
                    color: $hovercolor;
                    text-decoration: none;
                }
            }
        }
        .plika_content {
            font-weight: normal;
            font-size: 14px;
            line-height: 25px;
            text-align: justify;
            letter-spacing: 0.02em;
            color: rgba(0, 0, 0, 0.7);
            p {
                margin-bottom: 0;
            }
        }
    }
}
.tips_box {
    border: 0.75px solid rgba(84, 84, 84, 0.5);
    .tips_title {
        background: #726658;
        font-weight: 600;
        text-align: center;
        padding: .8em;
        h2 {
            font-size: 22px;
            line-height: 37px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            margin-bottom: 0;
        }
    }
    .tips_list {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        .tips_item {
            border-bottom: 0.75px solid rgba(84, 84, 84, 0.5);
            .tips_item_title {
                margin-bottom: 0;
                padding: 1.5em 1em;
                font-weight: 600;
                font-size: 14px;
                line-height: 23px;
                text-align: justify;
                letter-spacing: 0.05em;
                a {
                    color: #000000;
                    &:hover {
                        text-decoration: none;
                        color: $hovercolor;
                    }
                }
            }
        }
        .tips_more_btn {
            padding: 1em;
            font-weight: 500;
            font-size: 14px;
            line-height: 23px;
            letter-spacing: 0.02em;
            text-align: center;
            margin-bottom: 0;
            a {
                color: #726658;
                    &:hover {
                        text-decoration: none;
                        color: $hovercolor;
                    }
            }

        }
    }
}
//end home page

//single Page 
.bread_crumb_box {
    .bread_crumb {
        padding-top: 15px;
        list-style: none;
        display: flex;
        padding-left: 0;
        li {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 23px;
            letter-spacing: 0.02em;
            &:after {
                content: '/';
                padding-right: 10px;
                padding-left: 10px;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
            a {
                color: #726658;
                &:hover {
                    text-decoration: none;
                    color: $hovercolor;
                }
            }
        }
    }
}
.singlePage {
    .main_title {
        margin-top: 30px;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 53px;
        letter-spacing: 0.02em;
        color: #726658;
    }
    .image_container {
        width: 100%;
        margin-bottom: 15px;
        img {
            width: 100%;
        }
    }
    .single_main_content {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        text-align: justify;
        letter-spacing: 0.04em;
        color: rgba(0, 0, 0, 0.7);
        img {
            margin-bottom: 15px;
        }
    }
    .single_side_bar {
        margin-top: 20px;
        background: #F8F8F8;
        h4 {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0.02em;
            color: #726658;
            text-align: center;
            padding: 15px 0;
            &::after {
                content: '';
                width: 30px;
                height: 3px;
                background: #726658;
                display: block;
                margin: 0 auto;
            }
        }
        .side_bar_list {
            list-style: none;
            padding-left: 0;
            a {
                text-decoration: none;
                &:hover {
                    .aside_news_content {
                        color: $hovercolor;
                    }
                }
            }
            .side_bar_new_box {
                padding: .5em 1em .5em 0;
                display: flex;
                .image_container {
                    width: 40%;
                    height: 80px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
                .aside_news_content {
                    padding-left: 15px;
                    flex: 1;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 23px;
                    letter-spacing: 0.05em;
                    text-align: justify;
                    color: #000000;
                }
            }
        }
    }
    .news_sharing_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #F9F9F9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: .5em 1em;
        .social_share_box {
            ul {
                list-style: none;
                padding-left: 0;
                display: flex;
                li {
                    padding: 0 15px;
                    a {
                        color: #9D9D9D;
                    }
                }
            }
        }
        .activity_box {
            display: flex;
            align-items: center;
            color: #9D9D9D;
            .news_vote {
                text-align: center;
                padding-right: 25px;
                button {
                    background-color: transparent;
                    border: none;
                    color: #9D9D9D;
                }
                p {
                    margin-bottom: 0;
                }
                &.active {
                    button {
                        color: #628AF1;
                    }
                    p {
                        color: #628AF1;
                    }
                }
            }
            .share_btn_outline {
                width: 100px;
                height: 40px;
                background-color: transparent;
                border: 1px solid green;
            }
        }
    }
}

//end Single PAge

//catgory Page
.cat_news_card {
    margin-bottom: 21px;
    width: 100%;
    background: #F8F8F8;
    .image_container {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .news_content {
        padding: 15px;
        .content_box {
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 25px;
            text-align: justify;
            letter-spacing: 0.05em;
            a {
                color: #000000;
                &:hover {
                    color: $hovercolor;
                    text-decoration: none;
                }
            }
        }
    }
}

//end category page


.footer {
    margin-top: 40px;
    padding-top: 40px;
    background: #575757;
    .col_box {
        .footer_branding {
            padding-bottom: 30px;
            &:hover {
                text-decoration: none;
            }
            .footer_heading {
                margin-bottom: 0;
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 42px;
                letter-spacing: 0.13em;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            .footer_heading2 {
                margin-bottom: 15px;
                font-style: normal;
                font-weight: 600;
                font-size: 17px;
                line-height: 28px;
                letter-spacing: 0.13em;
                color: #FFFFFF;
            }
            p {
                color: #fff;
            }
        }
        .footersocial_media {
            list-style: none;
            display: flex;
            padding-left: 0;
            li {
                padding-right: 15px;
                a {
                    color: #fff;
                }
            }
        }
        .quick_links {
            padding-left: 0;
            color: #fff;
            list-style: none;
            li {
                margin-bottom: 5px;
                font-weight: normal;
                font-size: 16px;
                line-height: 27px;
                a {
                    color: #fff;
                }
            }
        }
    }
    .footer_copyright {
        border-top: .5px solid #aaa;
        padding: .8em;
        text-align: center;
        color: #fff;
    }
}

